# Data Preprocessing
### Here we will be cleaning our dataset like removing unnecessary data. we will create 2 separate files for "Covid Vaccination" and "Covid Deaths"

In [1]:
import pandas as pd

In [25]:
raw_data = pd.read_csv('covidData.csv')

In [26]:
df = raw_data.copy()

In [27]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [28]:
df.columns.values

array(['iso_code', 'continent', 'location', 'date', 'total_cases',
       'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate',
       'icu_patients', 'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units',
       'total_vaccinations', 'people_vaccinated',
       'people_fully_vaccinated', 'total_boosters', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities',
       'hospital_beds_per_thousand', 'life_expectancy',
       'human_development_index', 'excess_mortality_cumulative_absolute',
       'excess_mortality_cumulative', 'excess_mortality',
       'excess_mortality_cumulative_per_million'], dtype=object)

In [29]:
# removing unnecessary columns
df = df.drop(['new_cases_smoothed',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate',
       'icu_patients', 'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
        'tests_per_case', 'tests_units',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'aged_65_older',
       'aged_70_older', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence',
       'hospital_beds_per_thousand', 
       'human_development_index', 'excess_mortality_cumulative_absolute',
       'excess_mortality_cumulative', 'excess_mortality',
       'excess_mortality_cumulative_per_million'], axis = 1)

In [30]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_tests,new_tests,...,people_fully_vaccinated,total_boosters,new_vaccinations,population,median_age,gdp_per_capita,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,37.746,64.83
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,37.746,64.83
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,37.746,64.83
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,37.746,64.83
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,39835428.0,18.6,1803.987,NaN,NaN,37.746,64.83

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191605 entries, 0 to 191604
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   iso_code                 191605 non-null  object
 1   continent                180466 non-null  object
 2   location                 191605 non-null  object
 3   date                     191605 non-null  object
 4   total_cases              184063 non-null  float64
 5   new_cases                183796 non-null  float64
 6   total_deaths             165591 non-null  float64
 7   new_deaths               165565 non-null  float64
 8   total_tests              77683 non-null   float64
 9   new_tests                74008 non-null   float64
 10  positive_rate            93441 non-null   float64
 11  total_vaccinations       52441 non-null   float64
 12  people_vaccinated        49960 non-null   float64
 13  people_fully_vaccinated  47428 non-null   float64
 14  total_boosters           24501 non-null   float64
 15  new_vaccinations         42962 non-null   float64
 16  population               190439 non-null  float64
 17  median_age               158243 non-null  float64
 18  gdp_per_capita           157396 non-null  float64
 19  female_smokers           119414 non-null  float64
 20  male_smokers             117777 non-null  float64
 21  handwashing_facilities   77572 non-null   float64
 22  life_expectancy          179180 non-null  float64
dtypes: float64(19), object(4)
memory usage: 33.6+ MB

In [32]:
df.columns.values

array(['iso_code', 'continent', 'location', 'date', 'total_cases',
       'new_cases', 'total_deaths', 'new_deaths', 'total_tests',
       'new_tests', 'positive_rate', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'population', 'median_age', 'gdp_per_capita',
       'female_smokers', 'male_smokers', 'handwashing_facilities',
       'life_expectancy'], dtype=object)

In [33]:
column_names_reordered = ['iso_code', 'continent', 'location', 'date','population', 'total_cases',
       'new_cases', 'total_deaths', 'new_deaths', 'total_tests',
       'new_tests', 'positive_rate', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'median_age', 'gdp_per_capita',
       'female_smokers', 'male_smokers', 'handwashing_facilities',
       'life_expectancy']

In [34]:
df = df[column_names_reordered]

In [35]:
df.head()

,iso_code,continent,location,date,population,total_cases,new_cases,total_deaths,new_deaths,total_tests,...,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,median_age,gdp_per_capita,female_smokers,male_smokers,handwashing_facilities,life_expectancy
0,AFG,Asia,Afghanistan,2020-02-24,39835428.0,5.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.6,1803.987,NaN,NaN,37.746,64.83
1,AFG,Asia,Afghanistan,2020-02-25,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.6,1803.987,NaN,NaN,37.746,64.83
2,AFG,Asia,Afghanistan,2020-02-26,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.6,1803.987,NaN,NaN,37.746,64.83
3,AFG,Asia,Afghanistan,2020-02-27,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.6,1803.987,NaN,NaN,37.746,64.83
4,AFG,Asia,Afghanistan,2020-02-28,39835428.0,5.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.6,1803.987,NaN,NaN,37.746,64.83

In [36]:
CovidDeaths = df.copy()

In [46]:
CovidVaccinations = df.copy()

In [38]:
CovidDeaths = CovidDeaths.drop(['total_tests',
       'new_tests', 'positive_rate', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'median_age', 'gdp_per_capita',
       'female_smokers', 'male_smokers', 'handwashing_facilities',
       'life_expectancy'], axis = 1)

In [39]:
CovidDeaths.head()

,iso_code,continent,location,date,population,total_cases,new_cases,total_deaths,new_deaths
0,AFG,Asia,Afghanistan,2020-02-24,39835428.0,5.0,5.0,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,39835428.0,5.0,0.0,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,39835428.0,5.0,0.0,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,39835428.0,5.0,0.0,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,39835428.0,5.0,0.0,NaN,NaN

In [47]:
CovidVaccinations =  CovidVaccinations.drop(['total_cases',
       'new_cases', 'total_deaths', 'new_deaths', 'people_fully_vaccinated', 'total_boosters',
        'median_age', 'gdp_per_capita',
       'female_smokers', 'male_smokers', 'handwashing_facilities',
       'life_expectancy'], axis = 1)

In [48]:
CovidVaccinations.head()

,iso_code,continent,location,date,population,total_tests,new_tests,positive_rate,total_vaccinations,people_vaccinated,new_vaccinations
0,AFG,Asia,Afghanistan,2020-02-24,39835428.0,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,39835428.0,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,39835428.0,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,39835428.0,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,39835428.0,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
CovidDeaths.to_excel('CovidDeaths.xlsx', sheet_name='CovidDeaths', index = False)

In [49]:
CovidVaccinations.to_excel('CovidVaccinations.xlsx', sheet_name='CovidVaccinations', index = False)

In [45]:
df.to_excel('CovidData_new.xlsx', sheet_name='CovidData', index = False)